<div class="container">
    <h1>Flights</h1>
    <a href="#" routerLink="/Flights/create/" class="btn btn-success">+ Create A Flight</a>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Flight Number</th>
                <th>Departure Date</th>
                <th>Arrival Date</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Departure Airport</th>
                <th>Arrival Airport</th>
                <th>Passenger Limit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flight of flights">
                <td>{{ flight.flightNumber }}</td>
                <td>{{ flight.departureDate }}</td>
                <td>{{ flight.arrivalDate }}</td>
                <td>{{ flight.departureTime }}</td>
                <td>{{ flight.arrivalTime }}</td>
                <td>{{ flight.departureAirport }}</td>
                <td>{{ flight.arrivalAirport }}</td>
                <td>{{ flight.passengerLimit }}</td>
                
            </tr>
        </tbody>
    </table>
</div>