


.title {
    size: 150px;
    color: blue;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.byline {
    color: blue;
    text-align: center;

}

.nav-link {
    size: 80px;
}