<div class="theme">
<div class="container-fluid">
  <!-- <header > -->
    <!-- class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark" -->
  <div>
  <!-- OLD STYLES FROM ABOVE DIV class="container-fluid d-flex align-items-center" -->

    <nav class="navbar navbar-expand-lg navbar-light navcol">
      <a class="navbar-brand" href="#">ATA Airlines Navigation</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a routerLink="Flights" class="nav-item nav-link" href="#">Flights</a>
          <a routerLink="Flights" routerLink="Passengers" class="nav-item nav-link" href="#">Passengers</a>
          <a class="nav-item nav-link disabled" href="#">Bookings</a>
        </div>
      </div>
    </nav>

    <a href="#" class="navbar-brand">
      <h1 class="title">Welcome to ATA Airlines</h1>
      <!-- class="d-flex align-items-center fs-80 text-white mb-0" -->
    </a>
    <p class="byline">Never have a CRUDy flight again!</p>
  </div>
<!-- </header> -->
  <div class="container mt-3">
   <router-outlet></router-outlet>
  </div>
</div>
</div>